
<p><strong>Highest Summoner Level:</strong>  <%= @highest_lvl %></p>
<p><strong>Lowest Summoner Level:</strong>  <%= @lowest_lvl %></p>
<p><strong>Longest Summoner Name:</strong>  <%= @longest_name %></p>
<p><strong>Shortest Summoner Name:</strong>  <%= @shortest_name %></p>

